.center {
     float: none;
     margin-left: auto;
     margin-right: auto; }
    }

@-ms-viewport{
	width: device-width;
}
.multichoice-btn-group {
	width:100%;
	max-width:500px;
}
.multichoice-btn {
	width:100%;
	font-size:40px !important;
	height:65px
}